<h1>Log In</h1>
<form id="login-form">
  <input type="text" id="username" placeholder="Username" required>
  <input type="password" id="password" placeholder="Password" required>
  <button type="submit">Log In</button>
</form>

<h1>Sign Up</h1>
<form id="signup-form">
  <input type="text" id="signup-username" placeholder="Username" required>
  <input type="password" id="signup-password" placeholder="Password" required>
  <button type="submit">Sign Up</button>
</form>
